BasedOnStyle: LLVM
ColumnLimit: 100
PointerAlignment: Right
IndentWidth: 2
ContinuationIndentWidth: 2
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BreakStringLiterals: true
